html,body
{
    height: 100%;
    width: 100%;
}
.parent
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    grid-template-rows: repeat(6 , 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1
{
    grid-area: 1 / 1 / 2 / 7;
    background-color: rgb(151, 30, 155);
}

.div2
{
    grid-area: 2 / 1 / 5 /5 ;
    background-color: rgb(152, 64, 235);
}
.div3
{
    grid-area: 2 / 5 / 5 / 7 ;
    background-color: rgb(92, 0, 128);
}
.div4
{
    grid-area: 5 / 1 / 7 / 7 ;
    background-color: rgb(98, 30, 116);

}